main p {
  margin-top: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5f6df;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px 10px;
  padding: 0px;
}

.logo {
  margin: 0px;
}

.cow-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

section {
  padding: 20px;
}

section h2 {
  width: 100%;
  text-align: center;
}

.cow {
  text-align: center;
}

.cow img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.pick-us {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.reasons {
  background-color: #d8dec6;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact {
  text-align: center;
}
