main p {
  margin-top: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5f6df;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px 10px;
  padding: 0px;
}

.logo {
  margin: 0px;
}
